@import '@/shared/style/mixins';

.btn {
	--color: 'transparent';
	--hover: 'transparent';
	--active: 'transparent';

	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;
	transition: var(--btn-transition);

	color: var(--bg);
	border: none;
	border-radius: 55px;
	outline: none;

	font-weight: 500;
	font-style: normal;
	line-height: 12px; /* 100% */

	&:disabled {
		--color: var(--gray-90);
		--hover: var(--gray-90);
		--active: var(--gray-90);
	}

	&.md {
		min-width: calc(var(--step) * 29);
		height: calc(var(--step) * 9);

		font-size: 12px;
		font-weight: 500;
		line-height: 12px;
	}

	&.lg {
		min-width: calc(var(--step) * 50);
		height: calc(var(--step) * 13);

		font-size: 14px;
		font-weight: 500;
		line-height: 16px;
	}

	&.outline {
		color: var(--color);
		border: 1px solid;
		border-color: var(--color);
		background-color: transparent;

		&:hover {
			color: var(--hover);
			border-color: var(--hover);
		}

		&:active {
			color: var(--active);
			border-color: var(--active);
		}
	}

	&.fill {
		background-color: var(--color);

		&:hover {
			background-color: var(--hover);
		}

		&:active {
			background-color: var(--active);
		}
	}

	&.blue {
		--color: var(--blue-50);
		--hover: var(--blue-60);
		--active: var(--blue-50);
	}

	&.dark-blue {
		--color: var(--blue-40);
		--hover: var(--blue-30);
		--active: var(--blue-40);
	}

	&.ocean {
		--color: var(--ocean-30);
		--hover: var(--ocean-40);
		--active: var(--ocean-50);
	}

	&.success {
		--color: var(--green-50);
		--hover: var(--green-60);
		--active: var(--green-40);
	}

	&.error {
		--color: var(--red-50);
		--hover: var(--red-60);
		--active: var(--red-40);
	}

	&.warning {
		--color: var(--orange-50);
		--hover: var(--orange-60);
		--active: var(--orange-40);
	}
}
