.inputContainer {
	height: 42px;
	max-width: 175px;
	border: 1px solid $blue60;
	position: relative;
	padding: 0;
}

.placeholder {
	position: absolute;
	top: 50%;
	left: 15px;
	transform: translateY(-50%);
	font-size: 16px;

	&.focus {
		display: none;
	}
}

.input {
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	padding: 11.5px 15px;
	font-size: 16px;
}

.underline {
	border: none;
	border-bottom: 1px solid $blue60;

	.input {
		padding: 16px 0 4px;
	}

	.placeholder {
		transform: unset;
		top: 16px;
		left: 0;
		bottom: 4px;
		color: $blue60;
		transition: all ease 0.3s;

		&.focus {
			display: inline;
			font-size: 11px;
			top: 0;
		}
	}
}
