$blue100: #63ccff;
$blue80: #4fc3f7;
$blue60: #039be5;
$blue40: #006db3;
$gray100: #f2f2f2;
$gray80: #e8e8e8;
$gray60: #bfbfbf;
$gray40: #a6a6a6;
$black100: #484848;
$black80: #212121;
$black60: #000;

@import 'mixins';

.container {
	margin: 0 auto;
	width: 100vw;
	max-width: 1280px;
	font-family: var(--jura-font), serif;
}
