:root {
	--step: 4px;
	--bg: #f2f2f2;
	--btn-transition: all 0.3s ease;
	--font-size: 14px;
	--line-height: 20px;

	// color
	// orange

	--orange-10: #422c0a;
	--orange-20: #664310;
	--orange-30: #9f6918;
	--orange-40: #c3811e;
	--orange-50: #df982d;
	--orange-60: #e7b160;
	--orange-70: #ebbe7a;
	--orange-80: #f2d4a6;
	--orange-90: #f9ebd7;
	--orange-95: #fcf4e9;
	--orange-99: #fdf8f2;

	// gray

	--gray-10: #1d242b;
	--gray-20: #35434f;
	--gray-30: #465868;
	--gray-40: #5c7689;
	--gray-50: #768da3;
	--gray-60: #94a7b7;
	--gray-70: #adbbc8;
	--gray-80: #c5cfd8;
	--gray-90: #e0e6eb;
	--gray-95: #f0f2f5;
	--gray-99: #f6f7f9;

	// ocean
	--ocean-10: #023e4b;
	--ocean-20: #036278;
	--ocean-30: #037b96;
	--ocean-40: #05b0d7;
	--ocean-50: #1ed2fa;
	--ocean-60: #37d7fb;
	--ocean-70: #73e3fc;
	--ocean-80: #9bebfd;
	--ocean-90: #cdf5fe;
	--ocean-95: #e6fafe;
	--ocean-99: #f0fcff;

	// blue
	--blue-10: #062a41;
	--blue-20: #093d5d;
	--blue-30: #0d5b8c;
	--blue-40: #127cbf;
	--blue-50: #249eeb;
	--blue-60: #44acee;
	--blue-70: #78c3f2;
	--blue-80: #abdaf7;
	--blue-90: #d0eafb;
	--blue-95: #e8f5fd;
	--blue-99: #f1f9fe;

	// green
	--green-10: #064113;
	--green-20: #0a6b1f;
	--green-30: #0d8c29;
	--green-40: #12c439;
	--green-50: #16e944;
	--green-60: #4eef71;
	--green-70: #73f28f;
	--green-80: #a2f6b4;
	--green-90: #d0fbda;
	--green-95: #e8fdec;
	--green-99: #f1fef4;

	// red
	--red-10: #410d06;
	--red-20: #67150a;
	--red-30: #8c1c0d;
	--red-40: #c92813;
	--red-50: #ea371f;
	--red-60: #f5533d;
	--red-70: #f28273;
	--red-80: #f7b4ab;
	--red-90: #fbd5d0;
	--red-95: #fdeae8;
	--red-99: #fef3f1;
}
