@import './icons';
@import './reset';
@import './variables';
@import './mixins';

body {
	color: var(--gray-10);

	font-size: var(--font-size);
	line-height: var(--line-height);
}

.wrapper {
	display: flex;
	flex-direction: column;

	min-height: 100vh;
}

.black {
	font-weight: 900;
}

.bold {
	font-weight: 700;
}

.medium {
	font-weight: 500;
}

.regular {
	font-weight: 400;
}

.title-xl {
	line-height: calc(32 / 20);

	@include responsive-value('font-size', 20, 18);
}

.title {
	line-height: calc(24 / 18);

	@include responsive-value('font-size', 18, 16);
}

.headline-16 {
	line-height: calc(16 / 16);

	@include responsive-value('font-size', 16, 14);
}

.headline-24 {
	line-height: calc(24 / 16);

	@include responsive-value('font-size', 16, 14);
}

.body-text {
	&.single {
		line-height: calc(16 / 14);
	}

	&.multi {
		line-height: calc(20 / 14);
	}

	@include responsive-value('font-size', 14, 12);
}

.main-text {
	&.single {
		line-height: calc(12 / 12);
	}

	&.multi {
		line-height: calc(16 / 12);
	}

	@include responsive-value('font-size', 12, 10);
}

.definition {
	&.normal {
		line-height: calc(14 / 10);
	}

	&.small {
		line-height: calc(10 / 10);
	}

	@include responsive-value('font-size', 10, 8);
}
