@import './reset';
@import './variables';
@import './mixins';

body {
	line-height: var(--line-height);
	color: var(--text);
	font-size: var(--font-size);
}

.black {
	font-weight: 900;
}

.bold {
	font-weight: 700;
}

.medium {
	font-weight: 500;
}

.regular {
	font-weight: 400px;
}

.title-xl {
	@include responsive-value('font-size', 20, 18);

	line-height: calc(32 / 20);
}

.title {
	@include responsive-value('font-size', 18, 16);

	line-height: calc(24 / 18);
}

.headline-16 {
	@include responsive-value('font-size', 16, 14);

	line-height: calc(16 / 16);
}

.headline-24 {
	@include responsive-value('font-size', 16, 14);

	line-height: calc(24 / 16);
}

.body-text {
	@include responsive-value('font-size', 14, 12);

	&.single {
		line-height: calc(16 / 14);
	}

	&.multi {
		line-height: calc(20 / 14);
	}
}

.main-text {
	@include responsive-value('font-size', 12, 10);

	&.single {
		line-height: calc(12 / 12);
	}

	&.multi {
		line-height: calc(16 / 12);
	}
}

.definition {
	@include responsive-value('font-size', 10, 8);

	&.normal {
		line-height: calc(14 / 10);
	}

	&.small {
		line-height: calc(10 / 10);
	}
}
