@use 'sass:math';
@import './breakpoints';

@mixin media($size) {
	@media screen and (min-width: $size) {
		@content;
	}
}

@mixin md {
	@include media($md) {
		@content;
	}
}

@mixin lg {
	@include media($lg) {
		@content;
	}
}

@mixin responsive-value($property, $startSize, $minSize) {
	$add-size: $startSize - $minSize;

	#{$property}: calc(
		#{$minSize + px} + #{$add-size} * ((100vw - 320px) / #{$maxWidth - 320})
	);
}

@function prc($pxOne, $pxTwo) {
	$result: math.div($pxOne, $pxTwo) * 100%;

	@return $result;
}

@function rem($px) {
	$result: math.div($px, 16) + rem;

	@return $result;
}

@function em($px) {
	$result: math.div($px, 16) + em;

	@return $result;
}
